/IA_For_Videogames/[Ll]ibrary/
/IA_For_Videogames/[Tt]emp/
/IA_For_Videogames/[Oo]bj/
/IA_For_Videogames/[Bb]uild/
/IA_For_Videogames/[Bb]uilds/
/IA_For_Videogames/[Ll]ogs/
/IA_For_Videogames/[Uu]ser[Ss]ettings/

/IA_For_Videogames/[Mm]emoryCaptures/

/IA_For_Videogames/[Rr]ecordings/

/IA_For_Videogames/[Aa]ssets/Plugins/Editor/JetBrains*

/IA_For_Videogames/.vs/

/IA_For_Videogames/.gradle/

/IA_For_Videogames/ExportedObj/
/IA_For_Videogames/consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

/IA_For_Videogames/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/IA_For_Videogames/[Aa]ssets/[Ss]treamingAssets/aa.meta
/IA_For_Videogames/[Aa]ssets/[Ss]treamingAssets/aa/*